<!DOCTYPE html>
<html>
<head>
  <title>Admin Registration Complete</title>
  <style>
    body{
       background-color: whitesmoke;
       text-align: center;
    }
    .btn{
      padding: 5px 10px;
      background-color: grey;
      color: white;
      border: none;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <h1>Admin Registration Complete</h1>
  <p>Admin account registration is successful.</p>
  <p>Click On<a href="/admin/login"><button type="submit" class="btn">Login</button></a></p>+
</body>
</html>
