<!DOCTYPE html>
<html>
<head>
  <title>Deletion Error</title>
  <style>
    body{
       background-color: whitesmoke;
       text-align: center;
    }
    .btn{
      padding: 5px 10px;
      background-color: grey;
      color: white;
      border: none;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <h1>Deletion of admin user is not allowed</h1>
  
  <a href="<%= backUrl %>"><button type="submit" class="btn">Go Back To Dashboard</button></a>
</body>
</html>
