<!DOCTYPE html>
<html>
<head>
  <title>Change Password</title>
  <style>
    body{
       background-color: whitesmoke;
       text-align: center;
    }
    .btn{
    padding: 5px 10px;
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
    }
  </style>
</head>
<body>
  <h1>Change Password</h1>
  <% if (locals.error) { %>
    <p class="error"><%= locals.error %></p>
  <% } else if (locals.success) { %>
    <p class="success"><%= locals.success %></p>
  <% } %>
  <% if (typeof passwordChanged !== 'undefined' && passwordChanged) { %>
    <p>Password successfully changed!</p>
    <a href="/dashboard"><button type="submit" class="btn">Go back to Dashboard</button></a>
  <% } else { %>
    <form method="post" action="/profile/change-password">
      <label>Current Password:</label>
      <input type="password" name="currentPassword" required>
      <br>
      <label>New Password:</label>
      <input type="password" name="newPassword" required>
      <br>
      <label>Confirm New Password:</label>
      <input type="password" name="confirmPassword" required>
      <br>
      <button type="submit" class="btn">Change Password</button>
      <input type="button" value="Cancel" class="btn" onclick="window.location.href='/profile'">

  </form>
  <% } %>
</body>
</html>
