<!DOCTYPE html>
<html>
<head>
  <title>Forgot Password</title>
  <style>
    body{
       background-color: whitesmoke;
       text-align: center;
    }
    .btn{
    padding: 5px 10px;
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
    }
  </style>
</head>
<body>
  <h2>Forgot Password</h2>
  <p>Please Enter Your Username Or Email To Reset Your Password</p>
  <% if (error) { %>
    <p><%= error %></p>
  <% } %>
  <form action="/forgot-password" method="POST">
    <label for="emailOrUsername">Username or Email:</label>
    <input type="text" id="emailOrUsername" name="emailOrUsername" required>
    <br>
    <br>
    <button type="submit" class="btn">Submit</button>
    <input type="button" value="Cancel" class="btn" onclick="window.location.href='/cancel'">
  </form>
</body>
</html>
