<!DOCTYPE html>
<html>
<head>
  <title>Password Reset Success</title>
  <style>
    .btn-Login{
    padding: 5px 10px;
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
  }
  </style>
</head>
<body>
  <h2>Password Reset Successful</h2>  
  <p>Your password has been reset successfully.</p>
  <a href="/login"><button type="submit" class="btn-Login">Login</button></a>
</body>
</html>
