<!DOCTYPE html>
<html>
<head>
  <title>Registration Complete</title>
  <style>
    .btn-Login{
    padding: 5px 10px;
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
  }
  </style>
</head>
<body>
  <h1>Registration Complete</h1>
  <p>Registration is complete. You can now log in.</p>
  <a href="/login"><button type="submit" class="btn-Login">Login</button></a>
</body>
</html>
